<%= render ReleaseTimeWeb.SharedView, "header.html", name: @name %>

<%= link("Back to releases", to: "/repos/#{@repo["full_name"]}") %>

<div class="repo-title"><%= @repo["full_name"] %></div>

Release <%= @release.name %>

<%= link("Delete release", to: release_path(@conn, :delete, @repo["owner"]["login"], @repo["name"], @release.name), method: "delete") %>
